html, body {
    height: 100%;
	background-image: url('../img/logo_faded.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.app {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.thumbnail{
	border: 2px solid #F15A21;
}

.full{
    height:100%;
    min-height:100%;
}

.black{
	font-color:black;
}
