<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mootie Photo</title>

	<!-- ANG -->
	<script src = "scripts/angular.min.js"></script>
    <script src = "scripts/angular-animate.min.js"></script>
    <script src = "scripts/loading-bar.js"></script>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/loading-bar.css" rel="stylesheet">
  </head>
  
  <body ng-app="mootphoto">
    <div class="container-fluid app" ng-controller="PhotoController">
	
  	<div class="row">
		<div class='list-group gallery'>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' ng-repeat="x in latestPhotos track by $index">
            <a class="thumbnail fancybox" rel="lightbox" href="#">
                <img class="img-responsive" alt="{{x.lastUpdated}}" src="{{host}}{{x.uri}}" />
                <div class='text-right'>
                    <small class='text-muted black'><b>Latest ({{$index+1}}/4) Mootie</b></small>
                </div>
            </a>
        </div>
		</div>
  	</div>
	
	<div class="row">
		<div class='list-group gallery'>
        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' ng-repeat="x in randomPhotos track by $index">
            <a class="thumbnail fancybox" rel="lightbox" href="#">
                <img class="img-responsive" alt="{{x.lastUpdated}}" src="{{host}}{{x.uri}}" />
                <div class='text-right'>
                    <small class='text-muted'><b>Random Mootie</b></small>
                </div>
            </a>
        </div>
		</div>
  	</div>
    </div>

    <script src="app/app.js"></script>
  </body>
</html>
